*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --cool-white: #f5f5f5;
  --warm-white: #fbf2ef;
  --soft-gray: rgba(255, 255, 255, 0.7);
  --full-gray: #ddd;
  --rich-black: #171e27;
  --primary-color: #1a6490;
  --secondary-color: #e1771e;
  --secondary-light-neutral: #d0b096;
  --secondary-dark-neutral: #251e19;
  --primary-light-neutral: #627885;
  --primary-dark-neutral: #101517;
  --primary-rich: #067dc3;
  --secondary-rich: #ff7400;
  --accent-color: #149769;
  --accent-rich: #00c982;
  --accent-light-neutral: #658c7e;
  --accent-dark-neutral: #111916;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-weight: bold;
  line-height: 2;
}

a,
nav a:hover {
  color: var(--color-link);
  text-decoration: underline;
}

a:hover,
nav a {
  text-decoration: none;
}

img {
  max-width: 100%;
  /*  display: block; */
}

nav {
  margin: 0 auto;
  padding: 45px;
}

body > footer {
  position: sticky;
  top: 100vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: inline;
  padding: 0.25rem;
}

:focus {
  outline: 0.15rem dashed var(--off-white);
  outline-offset: 0.25rem;
}

@media (min-width: 640px) {

}
@media (min-width: 768px) {


  nav {
    padding: 45px 90px;
  }

  footer {
    padding: 1.5rem 0;
  }
}
