$cool-white: #f5f5f5;
$warm-white: #fbf2ef;
$soft-gray: rgba(255, 255, 255, 0.7);
$full-gray: #ddd;
$rich-black: #171e27;
$primary-color: #1a6490;
$secondary-color: #e1771e;
$secondary-light-neutral: #d0b096;
$secondary-dark-neutral: #251e19;
$primary-light-neutral: #627885;
$primary-dark-neutral: #101517;
$primary-rich: #067dc3;
$secondary-rich: #ff7400;
$accent-color: #149769;
$accent-rich: #00c982;
$accent-light-neutral: #658c7e;
$accent-dark-neutral: #111916;

.about {
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33%;
}

.summary {
  width: 66%;
}

.text {
  max-width: 50%;
  margin: 0 auto;
}

footer {
  padding: 1rem;
  display: flex;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
  .about-me {
    max-width: 960px;
  }

  footer {
  }
}
// @media (min-width: 1024px) { ... }
